
.movieCard {
  width: 500px;
  background-color: rgb(31, 28, 28);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px; 
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  align-items: center;
}

.movieCard:hover {
  transform: scale(1.05);
}

.movieCard img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movieCard h2 {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none; 
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.likeButton {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
  border: none;
}