.CardContainer {
    width: fit-content;
    padding: 20px;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
   
    background-color: rgb(54, 50, 50);
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
  }

 