.container-liked {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}


.liked-card {
  position: relative;
  display: flex;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 300px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  margin-top: 100px;
  transition: transform 0.3s;
  margin-bottom: 30px;
  
}

.liked-card:hover {
  transform: scale(1.1);
}

.liked-card.favorite {
  display: flex;
  flex-direction: column;
}

.description {
  overflow: hidden;
  padding: 1rem;
  width: 320px;
  text-align: center;
  color: white;
  background-color: rgb(65, 60, 60);
  margin-top: 30px;
  transition: transform 0.3s;
}

.description:hover {
  transform: scale(1.1); /* Rritja e madhësisë së përshkrimit në hover */
}