.Search {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .search-bar-container {
    width: 400px; /* Adjust width as needed */
    margin: auto; /* Center horizontally */
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .search-icon {
    width: 400px; 
    margin-right: 0; 
    transition: transform 1s ease-in-out;
  }
  
  .search-icon:hover {
    transform: rotate(-20deg);
    
  }

  