/* Fave.css */
.favorite-movies-container {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}

.favorite-movie-card {
  width: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(54, 50, 50);
}

.favorite-movie-card:hover {
  transform: translateY(-5px);
}

.movie-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movie-details {
  padding: 20px;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-director {
  color: #666;
}

.like-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.heart-icon {
  color: red;
}

@media screen and (max-width: 768px) {
  .favorite-movie-card {
    width: calc(50% - 40px);
  }
}
