.like-button {
    font-size: 40px;
    appearance: none;
    border: none;
    border-radius: 50%;
    background: rgb(31, 28, 28);
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    outline: none;
    z-index: 2;
    transition: transform var(--duration) var(--easing);
    cursor: pointer;
    margin-left: 100px;
    
}